
DJANGO_SECRET_KEY = 'django-insecure-d7bj8d*w-#3-c^@+jsulvp83*)%7x43&6rewiefb^oyz)bjk#o'
DJANGO_DEBUG=True

OPENAI_API_KEY=this-aplaceholderKlMQbZUG7Z3JyDuQViyuhXf51Y0-GstWmU_xT3BlbkFJDkSiHuqCRhuNc-HPURWLmOTmbkCfoovas4LWqEmkBhAUBuAbTO1xC9IlAzGEP3lZd8vG1jPREA
OPENAI_MODEL=gpt-5.6