{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            ThreatLens
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'analyzer/app.css' %}"
    >
</head>

<body>
<header class="site-header">
    <div class="container header-content">
        <a
            class="brand"
            href="{% url 'analyzer:investigation_list' %}"
        >
            <span class="brand-mark">
                TL
            </span>

            <span class="brand-copy">
                <strong>ThreatLens</strong>
                <small>AI Incident Investigator</small>
            </span>
        </a>

        <nav
            class="navigation"
            aria-label="Primary navigation"
        >
            <a
                class="{% if request.resolver_match.url_name == 'investigation_list' %}is-active{% endif %}"
                href="{% url 'analyzer:investigation_list' %}"
            >
                Dashboard
            </a>

            <a
                class="{% if request.resolver_match.url_name == 'investigation_create' %}is-active{% endif %}"
                href="{% url 'analyzer:investigation_create' %}"
            >
                Analyze
            </a>

            <a
                class="nav-button"
                href="{% url 'analyzer:investigation_create' %}"
            >
                <span aria-hidden="true">+</span>
                New case
            </a>
        </nav>
    </div>
</header>

    <main class="container main-content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>